* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    padding: 0;
    color: #F2B705;
}

header {
    position:fixed;
    top:0;

    height: 3rem; 
    width: 100%;
    background-color: #0476D9;
    padding: 0.8rem 0.5rem 0.6rem 0.9rem;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra_superior ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content:start;
    align-items: center;
    list-style: none;
    margin-left: 0;
}

.barra_superior ul a {
    text-decoration: none;
    color: #F2B705;
    padding: 0.5rem 0.2rem;
    margin: 0rem 0.2rem;
    font-size: 1rem;
}

.barra_superior .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #F69208;
}

.barra_superior ul a:hover {
    color: #007BFF;
}


main {
    margin-top: 3rem;
    padding-top: 1rem;
    flex: 1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    color: #F2B705;
}

footer {
    position:fixed;
    bottom:0;
    height: 3rem; 
    width: 100%;
    background-color:  #05AFF2;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
}

footer ul li {
    flex: 1;
    text-align: center;
}

footer ul li a {
    display: block;
}

footer ul li img {
    width: 3rem;
    height: auto;
    transition: transform 0.3s ease;
}

footer ul li img:hover {
    transform: scale(1.2);
}