* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Black Han Sans';
    src: url('./fonts/BlackHanSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('./fonts/AnonymousPro.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    padding: 0;
    color: #b6983f;
}

header {
    position:fixed;
    top:0;

    height: 3rem; 
    width: 100%;
    background-color: #0476D9;
    padding: 0.8rem 0.5rem 0.6rem 0.9rem;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra_superior ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content:start;
    align-items: center;
    list-style: none;
    margin-left: 0;
}

.barra_superior ul li a {
    text-decoration: none;
    color: #F2B705;
    padding: 0.5rem 0.2rem;
    margin: 0rem 0.2rem;
    font-size: 1rem;
}

.barra_superior ul li a img{
    width: 2.5rem;
    height: auto;
    transition: transform 0.3s ease;
}

.barra_superior ul li img:hover {
    transform: scale(1.2);
}
.barra_superior .logo {
    font-size: 2rem;
    font-weight: bold;
    color: #F69208;
    font-family: 'black han sans', sans-serif;
}

.barra_superior ul a:hover {
    color: #007BFF;
}


main {
    margin-top: 3rem;
    padding-top: 1rem;
    flex: 1;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    color: #F2B705;
    margin-bottom: 4rem; 
}

footer {
    position:fixed;
    bottom:0;
    height: 3rem; 
    width: 100%;
    background-color:  #0476D9;
}

footer ul {
    display: flex;
    justify-content: space-around;
    align-items:space-between;
    list-style: none;
}

footer ul li {
    flex: 1;
    text-align: center;
}

footer ul li a {
    display: block;
}

footer ul li img {
    width: 2.5rem;
    height: auto;
    transition: transform 0.3s ease;
}

footer ul li img:hover {
    transform: scale(1.2);
}

.titulo-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem; /* ajuste conforme necessário */
    margin-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.titulo-container .seta_voltar {
    z-index: 2;
}

.titulo-container .seta_voltar img {
    width: 3.5rem;
    height: auto;
    margin-right: 1rem;
}

.titulo-container .titulo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #F69208;
    font-family: 'Anonymous Pro', sans-serif;
    width: max-content;
    z-index: 1;
}

.subtitulo {
    font-family: 'Anonymous Pro', sans-serif;
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    margin: 2rem;
    margin-bottom: 1rem;
}

.options {
    display: grid;
    gap: 1.5rem;
    justify-items: center;
    padding: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    
}
.option img {
    width: 70%;
    height: auto;
    max-width: 12rem;
}

.option p {
    font-size: 1rem;
    color: #000000;
    text-align: center;
}


.itens {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    align-items: center;
}

.item {
    width: 100%;
    max-width: 300px; /* Limita a largura dos retângulos */
    padding: 1rem;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.item a {
    font-size: 1.2rem;
    color: #000000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 2rem;
}

main p {
    text-align: center;
    font-size: 1.1rem;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    font-family: 'Anonymous Pro', sans-serif;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.botao-container {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    margin-top: 2rem; /* Dá um espaço acima do botão */
}

.pagar-btn {
    font-size: 1.2rem;
    color: #fff;
    background-color: #F69208; 
    border: none;
    margin: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;

}

.barra_de_pesquisa {
    font-size: 1.75rem;
    margin-left: 4%;
    margin-right: 35%;
    background-color: white;
}

.seta_voltar div{
    width: 100%;
    height: auto;
    max-width: 12rem;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem ;
    font-family: 'Anonymous Pro', sans-serif;
    color: #F69208;
    
}
a{
    text-decoration: none;
}
.option  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#f2f2f2;
    height: 10rem;
    width: auto;
    padding: 0.5rem;
}
.options div{
    margin-top: 1rem;

}